{% extends 'applications/layout.html' %}
{% load static %}

{% block title %}Звонки{% endblock %}
{% block content %}
<div class="features">
    <header>
        <h1>Звонки</h1>
    </header>

<div class="day_selector">
    <!-- Добавьте выпадающий список или ссылки для выбора дня -->
    <div class="week-selector">
        <a href="?day=Понедельник">Понедельник</a>
        <a href="?day=Вторник">Вторник</a>
        <a href="?day=Среда">Среда</a>
        <a href="?day=Четверг">Четверг</a>
        <a href="?day=Пятница">Пятница</a>
        <a href="?day=Суббота">Суббота</a>
    </div>
    <p>Выбранный день: {{ selected_day }} | Тип недели: {{ bell.type }}</p>

</div>

    <table class="table">
        <thead>
            <tr>
                <th>Урок</th>
                <th>Начало урока</th>
                <th>Конец урока</th>
            </tr>
        </thead>
        <tbody>
            {% for bell in bells %}
            <tr>
                <td>{{ bell.lesson }}</td>
                <td>{{ bell.time_start }}</td>
                <td>{{ bell.time_end }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}