{% extends 'applications/layout.html' %}
{% load static %}

{% block title %}Звонки{% endblock %}
{% block content %}
<div class="features">
    <header>
        <h1>Звонки</h1>
    </header>

    <!-- Добавляем кнопки для переключения дней недели -->
    <div class="week-selector">
        <a href="?day=Понедельник">Понедельник</a>
        <a href="?day=Вторник">Вторник</a>
        <a href="?day=Среда">Среда</a>
        <a href="?day=Четверг">Четверг</a>
        <a href="?day=Пятница">Пятница</a>
        <a href="?day=Суббота">Суббота</a>
    </div>

    <p>Выбранная неделя: {{ selected_week }}</p>

    <table>
        <thead>
            <tr>
                <th>Урок</th>
                <th>Начало урока</th>
                <th>Конец урока</th>
                <th>Тип</th>
            </tr>
        </thead>
        <tbody>
            {% for bell in bells %}
            <tr>
                <td>{{ bell.lesson }}</td>
                <td>{{ bell.time_start }}</td>
                <td>{{ bell.time_end }}</td>
                <td>{{ bell.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}