{% extends 'applications/layout.html' %}
{% load static %}

{% block title %}Аудитории{% endblock %}
{% block content %}


<div class="pop_up" id="pop_up">
    <div class="pop_up_container" id="pop_up_container">
        <div class="pop_up_body" id="pop_up_body">
            <p>Добавить Аудиторию</p><br>

            <form method="post">
                {% csrf_token %}
                {{ form.title }}<br>
                {{ form.abbreviation }}<br>
                {{ form.seat_number }}<br>
                {{ form.building }}<br>
                <p>Выберите цвет:</p>
                {{ form.color }}<br>
                <span>{{ error }}</span>
                <input type="hidden" name="action" value="ins">
                <button class="btn btn-success" type="submit">Добавить</button>
            </form>
            <div class="pop_up_close" id="pop_up_close">&#10006</div>
        </div>
    </div>
</div>


<div class="features">
    <header>
        <h1>Аудитории</h1>
        <button class="popup-btn" id="open_pop_up">NEW</button>
    </header>

   <table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Сокращение</th>
            <th>Количество мест</th>
            <th>Корпус</th>
            <th>Цвет</th>
        </tr>
    </thead>
    <tbody>
        {% for el in groups %}
        <tr>
            <td>{{ el.title }}</td>
            <td>{{ el.abbreviation }}</td>
            <td>{{ el.seat_number }}</td>
            <td>{{ el.building }}</td>
            <td style="background-color:{{ el.color }}"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
