<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

    $('.draggable').mouseover(function(){
    console.log("func mouseover");
        var workloadId = $(this).attr("data");
        console.log("workloadId = " + workloadId);
        $.get('/ajax/get_workload/' + workloadId + '/', function(data) {
            var workload = JSON.parse(data)[0].fields;
            var workloadHtml = `
            <p>Предмет: ${workload.subjects}</p>
            <p>Группы: ${workload.groups.join(', ')}</p>
            <p>Преподаватели: ${workload.teachers.join(', ')}</p>
            <p>Кабинеты: ${workload.cabinets.join(', ')}</p>`;
            $('#workload-info').html(workloadHtml).show();
        });
    }).mouseout(function(){
        // Скрываем информацию о workload при уходе курсора с элемента
        $('#workload-info').hide();
    });
});
</script>