{% extends 'applications/layout.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'applications/css/lessons.css' %}">
{% endblock %}
{% block title %}Сетка уроков{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'applications/css/lessons.css' %}">
{% endblock %}
{% block content %}


<div class="features">
    <header>
        <h1>Сетка уроков</h1>
    </header>
    <div class="lesson-grid-header">
        <div class="grid-head">
            <div class="head-loader"></div>
            <div class="table">
                <div class="wdays">
                    {% for day in sched.week_days.all %}
                    {% if day.name == "ПН" %}
                    <div class="day">{{ day.name }}</div>
                    {% endif %}
                    {% if day.name == "ВТ" %}
                    <div class="day">{{ day.name }}</div>
                    {% endif %}
                    {% if day.name == "СР" %}
                    <div class="day">{{ day.name }}</div>
                    {% endif %}
                    {% if day.name == "ЧТ" %}
                    <div class="day">{{ day.name }}</div>
                    {% endif %}
                    {% if day.name == "ПТ" %}
                    <div class="day">{{ day.name }}</div>
                    {% endif %}
                    {% if day.name == "СБ" %}
                    <div class="day">{{ day.name }}</div>
                    {% endif %}
                    {% if day.name == "ВС" %}
                    <div class="day">{{ day.name }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="lessons-numbers">
                    <!-- Повторите блок уроков для каждого дня -->
                    {% for i in lessons_days_number %}
                    {% for a in lesson_numbers %}
                    <div class="lesson {% if forloop.last %}last-lesson{% endif %}">{{ a }}</div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="lessons-grid">
        {% for group in groups %}
        <div class="grid-lessons-row">
            <div class="caption">{{ group.title }}</div>
            {% for i in lessons_days_number %}
            {% for a in lesson_numbers %}
            <div class="cell w-{{ i }} d-{{ a }}" ondragover="allowDrop(event)" ondrop="drop(event)">
             {% with cell_name='cell w-'|add:i|add:' d-'|add:a %}
                {% if cell_data.cellName == cell_name %}
                    {{ cell_data.scheduleText }}
                {% endif %}
            {% endwith %}
            </div>
            {% endfor %}
            <div class="border-right"><!--Полоса разделяющая дни недели--></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="workloads-interface">
        <button id="saveButton">Сохранить</button>
        <div class="instances">
        {% for el in instances %}
        <div class="element">
            <div class="draggable" draggable="true" ondragstart="drag(event)" style="background-color:{{ el.color }}"
                 data="{{ el.id }}">{{ el.subjects }}
            </div>
            | <p>{{ el.lessons_count }}</p>
        </div>
        {% endfor %}
        </div>
<div class="info-window">
        <div id="workload-info" class="workload-info" style="display:none;">

        </div>
</div>
    </div>


</div>


{% endblock %}
{% block scripts %}

{% endblock %}
