{% extends 'applications/layout.html' %}
{% load static %}
{% block title %}Печать{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'applications/css/print.css' %}">
<style>

</style>
{% endblock %}
{% block content %}
<div class="table-container">
<table>
<!--    <tr>-->
<!--        <th class="group_head">Группы</th>-->
<!--    </tr>-->
    <tr>
        <th class="group_head" rowspan="2">Группы</th>
        {% for day in range_days %} <!-- Перебор дней недели -->
        <th colspan="8">{{ day }}</th>
        {% endfor %}

    </tr>
    <tr>
        {% for i in les_range %}
            {% for j in day_range %}
            <td class="less_count">{{ j }}</td>
            {% endfor %}
        {% endfor %}
    </tr>
    <!-- Пример данных таблицы -->
    {% for group, schedule in schedules.items %}
    <tr>
        <td class="groupName">{{ group }}</td>
        {% for i in les_range %}
            {% for j in day_range %}
            <td class="cell w-{{ i }} d-{{ j }}">{{ entry }}</td>
            {% endfor %}
        {% endfor %}
    </tr>
    <tr> <!-- Добавленная строка для аудиторий -->
        <td class="auditorium">АУД</td>
         {% for i in les_range %}
            {% for j in day_range %}
            <td class="auditorium_cell" id="cell w-{{ i }} d-{{ j }}" group="{{ group }}">{{ entry }}</td>
            {% endfor %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'applications/js/fillPrint.js' %}"></script>
{% endblock %}