{% extends 'applications/layout.html' %}
{% load static %}
{% block title %}Печать{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'applications/css/print.css' %}">
<style>

</style>
{% endblock %}
{% block content %}
<table>
    <tr>
        <th rowspan="2">Группы</th>
        <th colspan="{{ days_in_week }}">Дни недели</th>
    </tr>
    <tr>
        {% for day in range_days %} <!-- Перебор дней недели -->
        <th colspan="8">{{ day }}</th>
        {% endfor %}
    </tr>
    <!-- Пример данных таблицы -->
    {% for group, schedule in schedules.items %}
    <tr>
        <td class="groupName">{{ group }}</td>
        {% for entry in schedule %}
        <td class="cell">{{ entry }}</td>
        {% if forloop.counter|divisibleby:days_in_week %}
    </tr>
    <tr>
        {% endif %}
        {% endfor %}
    </tr>
    <tr> <!-- Добавленная строка для аудиторий -->
        <td class="auditorium">АУД</td>
        {% for entry in schedule %}
        <td class="cell">{{ entry }}</td>
        {% if forloop.counter|divisibleby:days_in_week %}
    </tr>
    <tr>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
