{% extends 'applications/layout.html' %}
{% load static %}

{% block title %}Расписания{% endblock %}
{% block content %}


<div class="pop_up" id="pop_up">
    <div class="pop_up_container" id="pop_up_container">
        <div class="pop_up_body" id="pop_up_body">
            <p>Добавить Расписание</p><br>

            <form method="post">
                {% csrf_token %}
                {{ form.title }}<br>
                {{ form.week_date }}<br>
                {{ form.week_days }}<br>
                {{ form.lessons_counts }}<br>
                {{ form.week_type }}<br>
                <input type="hidden" name="action" value="ins">
                <button class="btn btn-success" type="submit">Добавить</button>
            </form>
            <div class="pop_up_close" id="pop_up_close">&#10006</div>
        </div>
    </div>
</div>


<div class="features">
    <header>
        <h1>Расписания</h1>
        <button class="popup-btn" id="open_pop_up">NEW</button>
    </header>

    <div class="output">
        <span>{{ error }}</span>
        {% for el in groups %}
    {% if el.schedule_id == selected_element_id %}
    <div class="alert alert-warning">
        <h3 style='color:{{ el.color }};'>{{ el.title }} ({{ el.week_date }})</h3>
        <p style='color:{{ el.color }};'>Дни недели: {{ el.week_days.all|join:", " }}</p>
        <p style='color:{{ el.color }};'>Уроков в день: {{ el.lessons_counts }}</p>
        <p style='color:{{ el.color }};'>Тип недели: {{ el.week_type }}</p>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="del">
            <input type="hidden" name="element_id" value="{{ el.id }}">
            <button type="submit" class="btn btn-danger">Удалить</button>
            <button type="button" class="btn btn-danger select-schedule" data-element-id="{{ el.id }}">Выбрать</button>
        </form>
    </div>
    {% endif %}
{% endfor %}
    </div>
</div>


{% endblock %}
{% block scripts %}
<script src="{% static 'applications/js/select.js' %}"></script>
<script src="{% static 'applications/js/validateWeekDate.js' %}"></script>
{% endblock %}