{% extends 'applications/layout.html' %}
{% load static %}

{% block title %}Преподаватели{% endblock %}
{% block content %}


<div class="pop_up" id="pop_up">
    <div class="pop_up_container" id="pop_up_container">
        <div class="pop_up_body" id="pop_up_body">
            <p>Добавить Преподавателя</p>

            <form method="post">
                {% csrf_token %}
                {{ form.name }}<br>
                {{ form.abbreviation }}<br>
                {{ form.position }}<br>
                <p>Выберите Предметы:</p>
                {{ form.subjects }}<br>
                <p>Выберите Кабинеты:</p>
                {{ form.cabinets }}<br>
                <p>Выберите цвет:</p>
                {{ form.color }}<br>
                <span>{{ error }}</span>
                <input type="hidden" name="action" value="ins">
                <button class="btn btn-success" type="submit">Добавить</button>
            </form>
            <div class="pop_up_close" id="pop_up_close">&#10006</div>
        </div>
    </div>
</div>


<div class="features">
    <header>
        <h1>Преподаватели</h1>
        <button class="popup-btn" id="open_pop_up">NEW</button>
    </header>

   <table class="table">
    <thead>
        <tr>
            <th style="color: {{ el.color }}">Название</th>
            <th style="color: {{ el.color }}">Сокращение</th>
            <th style="color: {{ el.color }}">Должность</th>
            <th style="color: {{ el.color }}">Предметы</th>
            <th style="color: {{ el.color }}">Аудитории</th>
        </tr>
    </thead>
    <tbody>
        {% for el in groups %}
        <tr>
            <td>{{ el.name }}</td>
            <td>{{ el.abbreviation }}</td>
            <td>{{ el.position }}</td>
            <td>
               {{ el.subjects.all|join:", " }}
            </td>
            <td>
                {{ el.cabinets.all|join:", " }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
