{% extends 'applications/layout.html' %}
{% load static %}

{% block title %}Нагрузки{% endblock %}
{% block content %}


<div class="pop_up" id="pop_up">
    <div class="pop_up_container" id="pop_up_container">
        <div class="pop_up_body" id="pop_up_body">
            <p>Добавить Нагрузку</p><br>

            <form method="post">
                {% csrf_token %}
                <p>Предмет</p>
                {{ form.subjects }}<br>
                <p>Группы</p>
                {{ form.groups }}<br>
                <p>Преподаватели</p>
                {{ form.teachers }}<br>
                <p>Кабинеты</p>
                {{ form.cabinets }}<br>
                <p>Количество уроков</p>
                {{ form.lessons_count }}<br>
                <input type="hidden" name="action" value="ins">
                <button class="btn btn-success" type="submit">Добавить</button>
            </form>
            <div class="pop_up_close" id="pop_up_close">&#10006</div>
        </div>
    </div>
</div>


<div class="features">
    <header>
        <h1>Нагрузки</h1>
        <button class="popup-btn" id="open_pop_up">NEW</button>
    <ul>
    </header>

   <table class="table">
    <thead>
        <tr>
            <th>Предмет</th>
            <th>Группы</th>
            <th>Преподаватели</th>
            <th>Кабинеты</th>
            <th>Количество уроков</th>
        </tr>
    </thead>
    <tbody>
        {% for el in groups %}
            <tr>
                <td>{{ el.subjects }}</td>
                <td>{{ el.groups.all|join:", " }}</td>
                <td>{{ el.teachers.all|join:", " }}</td>
                <td>{{ el.cabinets.all|join:", " }}</td>
                <td>{{ el.lessons_count }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">Нет данных для отображения.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    {% if form.is_bound %}
    <p>Значения полей формы:</p>
    <ul>
        {% for field in form %}
            <li>{{ field.label_tag }}: {{ field.value }}</li>
        {% endfor %}
    </ul>
{% endif %}

</div>


{% endblock %}
{% block scripts %}
<script src="{% static 'applications/js/window.js' %}"></script>
{% endblock %}