.groupName {
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    }

.cell {
    height: 110px;
    white-space: nowrap;
    font-size: 16px;
}

body, html {
    height: 100%;
    margin: 0;
    }

th.week_head {
    text-align: center;
    background: beige;
    }

th {
    text-align: center;
    background: beige;
    }

th.week_head, th{
    border: 1px solid black;
    }

.table-container {
    width: 100%;
    overflow-x: auto;
     overflow-y: auto;/* горизонтальная прокрутка */
    }

table {
    text-align: center;
    width: auto;
    min-width: 500%;
    border-collapse: collapse;
    table-layout: fixed;
    height: 100%;
}

td {
    border: 1px solid black;
    width: 150px;
    max-width: 150px;
    word-wrap: break-word;
}

td.less_count {
    background: beige;
}