tbody, td, tfoot, th, thead, tr{
    border: black solid 1px;
}

table {
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    table-layout: fixed; /* Фиксированная ширина столбцов */
}

th, td {
    border: 1px solid black;
    text-align: center;
    white-space: nowrap;
}

th {
    background-color: #f2f2f2;
    height: 40px;
}

.groupName {
    writing-mode: vertical-rl;
    white-space: nowrap;
    font-size: 16px;
    transform: rotate(180deg);
    font-weight: bold;
}
.cell {
    height: 170px;
    writing-mode: vertical-rl;
    white-space: nowrap;
    font-size: 16px;
    transform: rotate(180deg);
}
html, body {
    height: auto;
    margin: 0;
    padding: 0;
}
th.group_head {
    width: 5%;
}
